@import 'Libs';

.root {
    padding: 20px;
}

.message {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    @include transform(translateY(-50%));
    @include font-size(16, 1.4);
    font-family: f(second, regular);
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    // half of spinner height + margin
    padding-top: 44px;
    font-family: f(second, regular);
}